<head>
    <meta charset="UTF-8">
    <title>Lập Trình JavaScript Cơ Bản</title>
</head>
<header>
    <h1>Lập Trình JavaScript Cơ Bản</h1>
</header>

<main>
    <section class="intro">
        <h2>Giới thiệu</h2>
        <p>Học Javascript cơ bản phù hợp cho người chưa từng học lập trình. Với hơn 100 bài học và có bài tập thực hành
            sau mỗi bài học.</p>
    </section>

    <section class="what-you-will-learn">
        <h2>Bạn sẽ học được gì?</h2>
        <ul class="what-you-will-learn-list">
            <li><i class="fas fa-check-circle-o"></i> Hiểu chi tiết về các khái niệm cơ bản trong JS</li>
            <li><i class="fas fa-check-circle"></i> Xây dựng được website đầu tiên kết hợp với JS</li>
            <li><i class="fas fa-check-circle-o"></i> Tự tin khi phỏng vấn với kiến thức vững chắc</li>
            <li><i class="fas fa-check-circle"></i> Có nền tảng để học các thư viện và framework JS</li>
            <li><i class="fas fa-check-circle-o"></i> Nắm chắc các tính năng trong phiên bản ES6</li>
            <li><i class="fas fa-check-circle"></i> Thành thạo DOM APIs để tương tác với trang web</li>
            <li><i class="fas fa-check-circle-o"></i> Ghi nhớ các khái niệm nhờ bài tập trắc nghiệm</li>
            <li><i class="fas fa-check-circle"></i> Nâng cao tư duy với các bài kiểm tra với testcases</li>
            <li><i class="fas fa-check-circle-o"></i> Các bài thực hành như Tabs, Music Player</li>
            <li><i class="fas fa-check-circle"></i> Nhận chứng chỉ khóa học do F8 cấp</li>
        </ul>
        <h2>Nội dung khóa học</h2>
        <div id="menu" class="block">
            <ul>
                <li>
                    <div class="dropdown">
                        <button href="#" onclick="toggleSubMenu(event)">Học lập trình để làm gì </button>
                        <ul style="display: none;">
                            <li><a href="#">Học lập trình để làm gì</a></li>
                            <li><a href="#">Các ngôn ngữ lập trình</a></li>
                            <li><a href="#">Các khái niệm cơ bản</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button href="#" onclick="toggleSubMenu(event)">Giới thiệu biến hàm trong lập trình</button>
                        <ul style="display: none;">
                            <li><a href="#">Học lập trình để làm gì</a></li>
                            <li><a href="#">Các ngôn ngữ lập trình</a></li>
                            <li><a href="#">Các khái niệm cơ bản</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button href="#" onclick="toggleSubMenu(event)">toán tử trong lập trình</button>
                        <ul style="display: none;">
                            <li><a href="#">Học lập trình để làm gì</a></li>
                            <li><a href="#">Các ngôn ngữ lập trình</a></li>
                            <li><a href="#">Các khái niệm cơ bản</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button href="#" onclick="toggleSubMenu(event)">làm việc với hàm trong lập trình</button>
                        <ul style="display: none;">
                            <li><a href="#">Học lập trình để làm gì</a></li>
                            <li><a href="#">Các ngôn ngữ lập trình</a></li>
                            <li><a href="#">Các khái niệm cơ bản</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <button href="#" onclick="toggleSubMenu(event)">làm việc với mảng trong lập trình</button>
                        <ul style="display: none;">
                            <li><a href="#">Học lập trình để làm gì</a></li>
                            <li><a href="#">Các ngôn ngữ lập trình</a></li>
                            <li><a href="#">Các khái niệm cơ bản</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>




