<div class="d-flex justify-content-between">
  <div>Môn học</div>
  <div>
    <button [routerLink]="['add']" class="btn btn-primary">Thêm</button>
  </div>
</div>
<hr>
<div>
  <table class="table table-bordered table-light">
    <thead>
    <tr>
      <th style="width: 5%;">STT</th>
      <th>Mã môn học</th>
      <th>Tên môn học</th>
      <th>Tổ chức</th>
      <th>Nhóm môn học</th>
      <th style="width: 10%;">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of testData; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.subjectName}}</td>
        <td>{{item.subjectCode}}</td>
        <td>{{ item.organizationId === undefined ? "" : organizationMap[(item.organizationId)] }}</td>
        <td>{{ item.subjectGroupId === undefined ? "" : subjectgroupMap[(item.subjectGroupId)] }}</td>

      <td>
        <div class="d-flex align-items-center">
          <i [routerLink]="['edit', item.id]" class="fas fa-edit mx-2"></i>
          <i (click)="deleteItem(item)" class="fas fa-trash-alt mx-2"></i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
