<div class="d-flex justify-content-between">
    <div>Chapter</div>
    <div>
      <button [routerLink]="['/admin/khoa-hoc']" class="btn btn-secondary me-3">Trở lại</button>
      <button [routerLink]="['add']" class="btn btn-primary">Thêm</button>
    </div>
  </div>
  <hr>
  <div>
    <table class="table table-bordered table-light">
      <thead>
      <tr>
        <th style="width: 5%;">STT</th>
        <th>User</th>
        <th>Rating</th>
        <th>Review text</th>
        <th style="width: 10%;">Action</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data | paginate: { itemsPerPage: 2, currentPage: p }; let i = index">
          <td>{{i+1}}</td>
          <td><a *ngIf="item.user_id!==null&&item.user_id._id !== null" [routerLink]="['/admin/user', item.user_id._id]">{{ item.user_id.username }}</a></td>
          <td>{{item.rating}}</td>
          <td>{{item.review_text}}</td>
        <td>
          <div class="d-flex align-items-center">
            <i [routerLink]="['/admin/review',course_id,'edit', item._id]" class="fas fa-edit mx-2"></i>
            <i (click)="deleteItem(item)" class="fas fa-trash-alt mx-2"></i>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event" class="float-right"></pagination-controls>