.review_list{
    max-height: 300px; /* Chiều cao tối đa của khung */
    overflow-y: auto; /* Thêm thanh cuộn dọc khi nội dung vượt quá chiều cao tối đa */
  }
.yellow-star {
color: gold !important; /* Màu vàng */
}