<div class="d-flex justify-content-between">
  <app-breadcrumb [data]="breadCrumb"></app-breadcrumb>
  <div>Thêm tổ chức</div>
  <div class="d-flex">
    <button [routerLink]="['/admin/organization']" class="btn btn-secondary me-3">Trở lại</button>
    <button [disabled]="checkFormValid()" (click)="submit()" class="btn btn-primary">{{itemId ? 'Sửa' :
      'Thêm'}}</button>
  </div>
</div>
<hr>
<div>
  <form>
    <div class="form-group row my-4">
      <label class="col-sm-2 col-form-label" for="organizationName">Tên tổ chức <b class="text-danger ms-2">( * )</b></label>
      <div class="col-sm-2">
        <input type="text" placeholder="Tên tổ chức" class="form-control" id="organizationName" name="organizationName" required="required" [(ngModel)]="data.organizationName">
      </div>
    </div>
    <div class="form-group row my-4">
      <label class="col-sm-2 col-form-label" for="parentOrganizationId">Tổ chức mẹ <b class="text-danger ms-2"></b></label>
      <div class="col-sm-2">
        <select class="form-select" [(ngModel)]="data.parentOrganizationId" name="parentOrganizationId" id="parentOrganizationId">
          <option [ngValue]="null">Không</option>
          <option *ngFor="let item of testData" value="{{item.id}}">{{item.organizationName}}</option>
        </select>

      </div>
    </div>

  </form>
</div>
