<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="header-text">
                <h6>Welcome to our school</h6>
                <h2>Best Place To Learn Graphic <em>Design!</em></h2>
                <div class="main-button-gradient">
                  <div class="scroll-to-section"><a href="#contact-section">Join Us Now!</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image">
                <img src="assets/images/banner-right-image.png" alt="">
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="header-text">
                <h6>Welcome to our school</h6>
                <h2>Best Place To Learn Graphic <em>Play1!</em></h2>
                <div class="main-button-gradient">
                  <div class="scroll-to-section"><a href="#contact-section">Join Us Now!</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image">
                <img src="assets/images/banner-right-image.png" alt="">
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="header-text">
                <h6>Welcome to our school</h6>
                <h2>Best Place To Learn Graphic <em>Play2!</em></h2>
                <div class="main-button-gradient">
                  <div class="scroll-to-section"><a href="#contact-section">Join Us Now!</a></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image">
                <img src="assets/images/banner-right-image.png" alt="">
              </div>
            </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>