<!-- <div class="d-flex justify-content-center" style="align-items: center; height: 100vh; background: url('/assets/Images/login-bg.svg');">
    <div class="d-flex flex-column justify-content-between">
        <div></div>
        <div style="width: 100%; max-width: 600px; height: 600px; margin: auto;" class="p-5">
            <form (submit)="login()">
                <div class="d-flex justify-content-center mb-4">
                    <img src="./assets/image/anh1.jpg" style="width: 60%;" alt="">
                </div>
                <div class="d-flex justify-content-center">
                    <h1 style="text-align: center;"><b>ĐĂNG NHẬP KHÓA HỌC</b></h1>
                </div>
                <br>
                <div>
                    <div class="form-group d-flex justify-content-center" style="align-items: center;">
                        <i class="fas fa-envelope" style="margin-right: -24px; z-index: 2;"></i><input name="email" [(ngModel)]="logInData.email" type="email" class="px-5 form-control" placeholder="Email">
                    </div>
                    <br>
                    <div class="form-group d-flex justify-content-center" style="align-items: center;">
                        <i class="fas fa-unlock-alt" style="margin-right: -24px; z-index: 2;"></i><input name="password" [(ngModel)]="logInData.password" type="password" class="px-5 form-control" placeholder="Mật khẩu">
                    </div>
                </div>
                <br>
                <div class="mb-3">
                    <input type="checkbox" checked class="me-3"> Ghi nhớ đăng nhập
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mb-4" style="width: 100%;">Đăng nhập</button>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" [routerLink]="['singin']"  class="btn btn-danger mb-4" style="width: 100%;">Đăng ký tài khoản</button>
                </div>
                
            </form>
        </div>
        <div class="d-flex justify-content-center">
        </div>
    </div>
</div>
 -->


<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/login/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>

<main class="login-body">
    <video autoplay muted loop>
        <source src="./assets/login/img/login-bg.mp4" type="video/mp4">
    </video>

    <form class="form-default" action="login-bg.mp4" method="POST">
        <form (submit)="login()">

            <div class="login-form">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="index.html"><img src="assets/login/img/logo/loder.png" alt=""></a>
                </div>
                <h2>Login Here</h2>
                <div class="form-input">
                    <label for="name">Email</label>
                    <input type="text" class="form-control" id="profile" name="profile" required
                        [(ngModel)]="logInData.email">
                </div>
                <div class="form-input">
                    <label for="name">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="logInData   .password">
                </div>
                <div class="form-input pt-30">
                    <input type="submit" name="submit" value="login">
                </div>
                <!-- Forget Password -->
                <a href="#" class="forget">Forget Password</a>
                <!-- Forget Password -->
                <a href="auth/singin" class="registration">Registration</a>
            </div>
        </form>
    </form>
    <!-- /end login form -->
</main>
<style>
    .login-body video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>