<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="index.html" class="logo">
                    <img src="assets/images/templatemo-eduwell.png" alt="EduWell Template">
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                  <li><a href="/website" class="active">Home</a></li>
                  <li><a href="/website/services">Services</a></li>
                  <li><a href="/website/course">Courses</a></li>
                  <li class="has-sub">
                      <a href="javascript:void(0)">Pages</a>
                      <ul class="sub-menu">
                          <li><a href="/website/about">About Us</a></li>
                          <li><a href="/website/services">Our Services</a></li>
                          <li><a href="/website/contact">Contact Us</a></li>
                      </ul>
                  </li>
                  <li><a href="website">Testimonials</a></li> 
                  <li><a href="website">Contact Us</a></li> 
                </ul>      
                <a class='menu-trigger'>
                    <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
              </nav>
            </div>
        </div>
    </div>
  </header>